{% extends 'accounts/passwordReset/main.html' %}

{% block content %}

<div  class="d-flex justify-content-center align-items-center ">

    <div class="card text-center" style="width: 600px;">
        <div class="card-header h5 text-white bg-primary">Password Reset Sent</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                We've emailed you instructions for setting your password, if any account exista with the email you entered, you should receive them shortly.
            </p>
           
            <hr>
            
            <p class="card-text py-2">
                If you don't receive an email, please make sure you've entered the address you registered with, and chekc your spam folder
            </p>    
            
            
            <hr>


            
            
            <div class="d-flex justify-content-between aligin-item-center mt-4">
                <div>
                    <a href="{% url 'reset_password' %}" class="btn btn-warning">&#8592; Back</a>
                </div>
                <div>
                    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                    <a class="btn btn-primary" href="{% url 'register' %}">Register</a>
                </div>
                
            </div>

            

        </div>
    </div>
</div>
{% endblock content %}