{% extends 'accounts/passwordReset/main.html' %}

{% block content %}

<div  class="d-flex justify-content-center align-items-center ">

    <div class="card text-center" style="width: 700px;">
        <div class="card-header h5 text-white bg-primary">Enter New Password</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Please enter your new password twice so we can verify you typed it in correctly
            </p>
                <form method="POST" >
                    {% csrf_token %}
                    {{form}}
                    <hr>
                    <input type="submit" value="Update Password" class="btn btn-primary w-100">                    
                </form>
        </div>
    </div>
</div>
{% endblock content %}