{% extends 'accounts/passwordReset/main.html' %}

{% block content %}

<div  class="d-flex justify-content-center align-items-center ">

    <div class="card text-center" style="width: 600px;">
        <div class="card-header h5 text-white bg-primary">Password Reset Complete</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Your password hase been set, You may go ahead and login in now.
            </p>           
            <hr>
            <div class="d-flex justify-content-center aligin-item-center mt-4">
                    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
            </div> 

        </div>
    </div>
</div>
{% endblock content %}