{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}
    <br>    
    <div class="row" style="margin-right: 5px; margin-left: 5px;">
        <div class="col-md-5">
            <h5>CUSTOMERS:</h5>
            <hr>
            <div class="card p-0 justify-content-evenly" style="height:320px; overflow:scroll;">
                <table class="table">
                    <tr class="thead-dark" style="position: sticky; top: 0; z-index: 10;">

                        <th>Customer</th>
                        <th>Phone</th>
                        <th>View</th>
                    </tr>
                    
                    
                    {% for i in customers %}
                        <tr>                    
                            <td>{{i.name}}</td>                        
                            <td>{{i.phone}}</td>                                        
                            <td><a class="btn btn-primary" href="{% url 'customer' i.id %}">VIew</a></td>
                        </tr>
                    {% endfor %}
                    
                </table>
            </div>
        </div>
        
        <div class="col-md-7">
            <h5> ORDERS:</h5>
            <hr>
            <div class="card padding: 0" style="height:320px; overflow:scroll;">
                <table class="table">
                    <tr class="thead-dark" style="position: sticky; top: 0; z-index: 10;">
                        <th>Products</th>
                        <th>Date Ordered</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>                        
                    </tr>
                    
                    {% for i in latest_orders %}

                        {% comment %} {% if  forloop.counter <= 5 %} {% endcomment %}
                        <tr>                    
                            <td>{{i.product}}</td>                        
                            <td>{{i.date_created}}</td>                                        
                            <td>{{i.status}}</td>                                        
                            <td><a class="btn btn-info btn-sm" href="{% url 'update_order' i.id %}">Update</a></td>                                        
                            <td><a class="btn btn-danger btn-sm" href="{% url 'delete_order' i.id %}">Delete</a></td>                                        
                        </tr>
                        {% comment %} {% endif %} {% endcomment %}
                    {% endfor %}
                        
                </table>
            </div>
        </div>
    </div> 

{% endblock content %}