{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<br>


<div  class="d-flex justify-content-center align-items-center ">
    <div class="card text-center" style="width: 700px; background-color:#8ecae6;">
        <div class="card-body px-5">
            <p class="card-text py-2">
                Are you sure , you want to delete "{{product}}"
            </p>
            <form method="POST" action="{% url 'delete_order' product.id %}">
                {% csrf_token %}
            
                    <a class="btn btn-warning btn-sm" href="{% url 'home' %}">Cancel</a>
                    <input type="submit" value="Confirm" class="btn btn-danger btn-sm">
            </form>
        </div>
    </div>
</div>



{% endblock content %}